.container {
  border-radius: 5px;
  background: #fff;
  width: 80%;
  height: 90%;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  border: 1px solid rgba(164, 176, 197, 0.4);
}
.leadImage {
  width: 90%;
  height: 200px;
  object-fit: cover;
}
.leadImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  width: 90%;
  height: 70%;
  overflow: auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
