.container {
  position: relative;
  border-radius: 5px;
  background: #fff;
  width: 80%;
  height: 90%;
  min-height: 90vh;
  padding: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  pointer-events: auto;
  border: 1px solid rgba(164, 176, 197, 0.4);
}

.modalHeader {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 16px;

  width: 100%;
}
.leadImage {
  width: 500px;
  height: 300px;
  object-fit: cover;
}
.leadImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  top: 50px;
  position: absolute;
}

.body {
  width: 90%;
  height: 70%;
  overflow: auto;
}

.wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
}
