* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  pointer-events: none;
}
.container {
  position: relative;
  border-radius: 5px;
  background: #fff;
  max-width: 90%;
  width: 1024px;
  height: 90vh;
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  border: 1px solid rgba(164, 176, 197, 0.4);
  overflow: auto;
}
.modalHeader,
.body,
.content {
  width: 600px;
  max-width: 90%;
  display: flex;
}

.modalHeader {
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.modalHeader h1 {
  color: #272e3b;
}
.leadImage {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 3px;
}
.leadImage img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.excerpt {
  color: #272e3b;
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500;
}

.tag {
  top: 0;
  left: 0;
  position: absolute;
}
.author,
.articleDate {
  color: #5b6981;
}

.content {
  color: #272e3b;
  line-height: 150%;
}
