.header {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: row;
  margin: 0 0 8px 0;
}
.header h1 {
  color: #242424;
  font-weight: 400;
}
.sorter {
  cursor: pointer;
  gap: 4px;
  margin: 0 16px;
  display: flex;
  align-items: center;
}
.sorter p {
  color: #a0aec0;
  font-weight: 400;
  font-size: 18px;
}
.sorter i {
  color: #a0aec0;
}
