.input {
  display: flex;
  align-items: center;
  width: 100%;
}

.input span {
  width: 100%;
  position: relative;
}
.input i {
  color: #a0aec0;
  position: absolute;
  font-size: 14px;
  left: 12px;
  top: 12px;
  pointer-events: none;
}

.input input {
  outline: none;
  background-color: #fff;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
  margin-right: 12px;
  height: 40px;
  width: 100%;
  padding: 0px 10px 0px 36px;
  font-size: 14px;
}

.input input::placeholder {
  color: #a0aec0;
}
