.cardWrapper {
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(164, 176, 197, 0.4);
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 5px;
  /* border: 1px solid rgba(164, 176, 197, 0.4); */
}
.card:hover {
  box-shadow: 2px 2px 10px 2px rgba(164, 176, 197, 0.5);
}
.deleteEditOverlay {
  display: none;
  right: 40px;
  position: absolute;
}

.card:hover .deleteEditOverlay {
  display: flex;
  position: absolute;
  right: 40px;
}
.add {
  cursor: pointer;
  border-radius: 50px;
  background: rgb(234, 235, 229);
  border: 1px solid #e2e8f0;
  box-shadow: 0px 1px 2px rgba(45, 55, 72, 0.08);
  padding: 6px 18px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-direction: row;
  color: #4a5568;
}
.add:hover {
  border: 1px solid #d2d9e0;
}
.add i {
  font-size: 16px;
}
