* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.data {
  position: relative;
  border-radius: 5px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;

  width: 100%;
}

/* data loaded */

/* .dataDisabled {
  position: relative;
  border-radius: 5px;
  background: #ccc;
  display: flex;
  color: rgb(97, 97, 97);
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding: 16px;
  min-height: 166px;
  width: 100%;
} */
.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

/* .dataDisabled .header p {
  color: #9499a0;
}
.dataDisabled .cut {
  color: #9499a0;
} */
/* .dataDisabled .dateNAuthor p,
.dataDisabled .dateNAuthor h5 {
  color: #9499a0;
}
.dataDisabled .cut {
  border-bottom: solid 1px #b6bbc2;
} */
/* overlay on hover */

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.content section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.header p {
  margin-bottom: 5px;
  color: #272e3b;
  /* margin-right: 50px; */
  font-size: 20px;
  font-weight: 600;
}

.dateNAuthor {
  width: 100%;
  position: relative;
  margin-top: 5px;
  left: 0;
  display: flex;
  flex-direction: row;
}
.dateNAuthor p {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #5b6981;
}
.dateNAuthor span {
  text-align: right;
  width: 100%;
}
span h5 {
  font-weight: 400;
  color: #8f9cb3;
}

/* submenu */

.subMenu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* flex-direction: row; */
  width: 100%;
}
