.card {
  position: relative;
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  border-radius: 5px;
  /* border: 1px solid rgba(164, 176, 197, 0.4); */
}
.card:hover {
  box-shadow: 2px 2px 10px 2px rgba(164, 176, 197, 0.5);
}

.deleteEditOverlay {
  display: none;
  right: 40px;
  position: absolute;
}

.card:hover .deleteEditOverlay {
  display: flex;
  position: absolute;
  right: 40px;
}
