.card {
  position: relative;
  border-radius: 5px;
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
}
.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tag {
  background: rgb(206, 34, 206);
  padding: 6px 24px;
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 2;
}
