.card {
  position: relative;
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* border: 1px solid rgba(164, 176, 197, 0.4); */
  transition: all 0.1s ease;
}

.deleteEditOverlay {
  display: none;
  right: 40px;
  position: absolute;
}
.card:hover {
  box-shadow: 2px 2px 10px 2px rgba(164, 176, 197, 0.5);
}

.card:hover .deleteEditOverlay {
  display: flex;
  position: absolute;
  right: 40px;
}

.card form {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
}
.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
