.loadedCard {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 400px;
  background: rgb(245, 246, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(164, 176, 197, 0.4);
  box-shadow: 2px 2px 5px 2px rgba(164, 176, 197, 0.2);
  transition: all 0.1s ease;
}

.deleteEditOverlay {
  display: none;
  right: 12px;
  top: 12px;
  position: absolute;
}
.loadedCard:hover {
  border: 1px solid rgba(164, 176, 197, 0.7);
}

.loadedCard:hover .deleteEditOverlay {
  display: flex;
}

.loadedCard form {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 180px;
}
.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.titleNauthor {
  position: relative;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
}
.titleNauthor p {
  font-size: 18px;
  font-weight: 700;
  color: #272e3b;
}
.titleNauthor section {
  margin: 8px 0 0 0;
}
.titleNauthor section p {
  font-size: 16px;
  font-weight: 400;
}

.dateNAuthor {
  width: 100%;
  position: absolute;
  bottom: 16px;
  padding: 0 16px;
  left: 0;
  display: flex;
  flex-direction: row;
}
.dateNAuthor p {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  color: #5b6981;
}

.dateNAuthor span {
  width: 100%;
  text-align: right;
}
.dateNAuthor span p {
  font-weight: 400;
  color: #8f9cb3;
}
@media (max-width: 1500px) {
  .loadedCard {
    width: 100%;
    min-width: 300px;
    max-width: 350px;
  }
}
