.headerContainer {
  margin: 10px 0 0 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  z-index: 4;
  background: #fff;
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: row;
  margin: 0 0 8px 0;
}
.header button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}
.header button i {
  font-size: 28px;
  color: #242424;
  opacity: 0.8;
}
.header button i:hover {
  opacity: 1;
}
.closeButton {
  position: absolute;
  right: 0;
  top: 0;
}
.header h1 {
  margin: 0 0 0 18px;
  color: #242424;
  font-weight: 400;
}
.sorter {
  cursor: pointer;
  gap: 4px;
  margin: 0 16px;
  display: flex;
  align-items: center;
}
.sorter p {
  color: #5b6981;
  font-weight: 400;
  font-size: 18px;
}
.sorter i {
  color: #818ca0;
}
