.searchBar {
  display: flex;
  align-items: center;
}

.searchBar span {
  position: relative;
}
.searchBar i {
  color: #a0aec0;
  position: absolute;
  font-size: 14px;
  left: 12px;
  top: 12px;
  pointer-events: none;
}

.searchBar input {
  outline: none;
  background-color: #fff;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;

  height: 40px;
  width: 204px;
  padding: 0px 10px 0px 36px;
  font-size: 14px;
}

.searchBar input::placeholder {
  color: #a0aec0;
}
@media (max-width: 1500px) {
  .searchBar input {
    width: 150px;
    margin-right: 0;
  }
}
/* @media (max-width: 800px) {
  .searchBar {
    position: absolute;
    width: 150px;
    margin-right: 0;
    top: 0;
    right: 0;
  }
} */
