* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  padding: 32px 0;
  gap: 32px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* initial RSS data */

.initialFeedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 400px;
  height: 95vh;
}
.feedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 1200px;
  height: 95vh;
}
.initialFeed,
.initialFeedLoading {
  border-radius: 5px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  padding: 8px;
  background: rgb(233, 233, 230);
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.initialFeedLoading {
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;

  flex-direction: row;
  margin: 0 0 8px 0;
}
.header h1 {
  color: #242424;
  font-weight: 400;
}
.loadingScreen {
  border-radius: 5px;
  top: 100px;
  background: rgb(233, 233, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 48px 64px;
  overflow: auto;
}

.feed {
  border-radius: 5px;
  top: 100px;
  background: rgb(233, 233, 230);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;

  width: 100%;
  padding: 48px 64px;
  gap: 32px;
  height: 100%;
  overflow: auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

/* .cardWrapper {
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(164, 176, 197, 0.4);
} */
.sorter {
  cursor: pointer;
  gap: 4px;
  margin: 0 16px;
  display: flex;
  align-items: center;
}
.sorter p {
  color: #5b6981;
  font-weight: 400;
  font-size: 18px;
}
.sorter i {
  color: #818ca0;
}
