* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.loadingScreen {
  top: 100px;
  background: rgb(233, 233, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 48px 64px;
  overflow: auto;
}

.feed {
  border-radius: 5px;
  top: 100px;
  background: rgb(233, 233, 230);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 48px 64px;
  gap: 32px;
  height: 90%;
  overflow: auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

.cardWrapper {
  width: 100%;
  height: 300px;
  background: rgb(245, 246, 247);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px 2px rgba(164, 176, 197, 0.3);
}
