* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  padding: 32px 0;
  gap: 32px;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* initial RSS data */

/* my feed */

.feedWrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  max-width: 1200px;
  height: 100vh;
  transition: all 0.3s ease;
  z-index: 4;
}

.feed {
  border-radius: 5px;
  top: 100px;
  background: rgb(233, 233, 230);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  width: 100%;
  padding: 32px;
  gap: 32px;
  height: 100%;
  overflow: scroll;
  transition: all 0.3s ease;
  z-index: 4;
}

/* news */

.newsFeedWrapper {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  opacity: 1;
  z-index: 3;
  width: 400px;
  min-width: 300px;
  height: 100vh;
  transition: all 0.3s ease;
}
.newsFeedWrapperMobile::before {
  transform: translateX(-800px);
}
.newsFeedWrapperMobile {
  transform: translateX(0px);
  left: 0;
  position: absolute;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
  z-index: 10;
  padding: 10px;
  width: 400px;
  min-width: 300px;
  height: 100vh;
  transition: all 0.3s ease;
}
.newsFeed,
.newsFeedLoading {
  border-radius: 5px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  padding: 8px;
  background: rgb(233, 233, 230);
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: all 0.3s ease;
}
.newsFeedLoading {
  justify-content: center;
}

/* header */

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 0 8px 0;
}
.header h1 {
  color: #242424;
  font-weight: 400;
}
.loadingScreen {
  border-radius: 5px;
  top: 100px;
  background: rgb(233, 233, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
  padding: 48px 64px;
  overflow: auto;
  transition: all 0.3s ease;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

.sorter {
  cursor: pointer;
  gap: 4px;
  margin: 0 16px;
  display: flex;
  align-items: center;
}
.sorter p {
  color: #5b6981;
  font-weight: 400;
  font-size: 18px;
}
.sorter i {
  color: #818ca0;
}

@media (max-width: 1500px) {
  .feed {
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 16px;
    padding: 32px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .feed {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
  }
  .feedWrapper {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .container {
    padding: 0;
  }
  .feed {
    overflow: auto;
    padding: 16px 8px;
  }
  .feedWrapper {
    width: 400px;
    max-width: 400px;
  }
  .newsFeedWrapper {
    position: absolute;
    opacity: 0;
    transform: translateX(-800px);
  }
}
