* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.feed {
  top: 100px;
  background: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 48px 64px;
  gap: 32px;
  height: 90%;
  overflow: auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

.image {
  width: 200px;
  height: auto;
}

.card {
  width: 100%;
  height: 300px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
