.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feed {
  top: 100px;

  background: #ccc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  width: 1024px;
  padding: 48px 64px;
  gap: 32px;
  height: 70vh;
  overflow: auto;
}
.image {
  width: 200px;
  height: auto;
}

.card {
  width: 250px;
  height: 250px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
